<!doctype html>
<html>
<head>
  <title>random tile generator</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="tilegen">
  <div ng-controller="Ctrl" class="inputs">
    <slider
      ng-model="opacity"
      ng-change="setTiles()"
      label="opacity"
      min="0"
      max="255"></slider>
    <slider
      ng-model="size"
      ng-change="setTiles()"
      label="size"
      min="4"
      max="16"></slider>
    <slider
      ng-model="margin"
      ng-change="setTiles()"
      label="margin"
      min="1"
      max="8"></slider>
    <radios
      ng-model="color"
      ng-change="setTiles()"
      label="tile color"
      items="colors"></radios>
    <colorpicker
      ng-model="bgColor"
      ng-change="changeBgColor()"
      label="bg color"></colorpicker>
    <div>
      <button ng-click="generateTiles();setTiles();">generate tile</button>
      <button ng-click="download()">Download</button>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
