body {
  color: #eee;
}

.input-field * {
  display: inline-block;
  vertical-align: top;
}

.input-field span {
  width: 30px;
  text-align: right;
}

.input-field-radios {
  padding: 0;
  margin: 0;
}

.input-field-radios label {
  width: 80px;
}

label {
  width: 120px;
}

input[type="range"] {
  width: 150px;
}

.color {
  width: 50px;
}

.inputs {
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
